
  <div class= "Short Form"
    <%= render 'questions/short_form', :ff=> ff %>
  </div>
  <div class= "Long Form"
  <%= render 'questions/long_form', :ff=> ff %>
  </div>
  <div class= "Multiple Choice"
  <%= render 'questions/multiple_choice', :ff=> ff %>
  </div>
  <div class= "Yes or No"
  <%= render 'questions/yes_no', :ff=> ff %>
  </div>
