  <div class= "Short Form"
    <%= render 'questions/short_form' %>
  </div>
  <div class= "Long Form"
  <%= render 'long_form' %>
  </div>
  <div class= "Multiple Choice"
  <%= render 'multiple_choice' %>
  </div>
  <div class= "Yes or No"
  <%= render 'yes_no' %>
  </div>
