<div class="heading-container">
  <span class="possum-logo">
    <%= image_tag 'possum-logo-khaki.jpg', width: '100' %>
  </span>
  <h1 class="heading-text">SurveyPossum Form Builder</h1>
</div>

<div class="main-content-container">

  <div class="login-inputs">

    <div class="tab-container login-container selected block">


      <%= render :template => 'sessions/new' %>

    </div>

    <div></div>

    <div class="tab-container signup-container block">

      <%= render 'form' %>

    </div>

  </div>
  <div class="footer"></div>

</div>
