<p>
  <%= f.label :answer_text, "answer" %><br>
  <%= f.text_area :answer_text, required: "#{"required" if @answer.errors}" %>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove answer" %>
</p>
