<p>
  <%= fff.label :answer_text, "answer" %><br>
  <%= fff.text_area :answer_text, required: "#{"required" if @answer.errors}" %>
  <%= fff.check_box :_destroy %>
  <%= fff.label :_destroy, "Remove answer" %>
</p>
