<p>
  <%= fff.label :answer_text, "Answer" %><br>
  <%= fff.radio_button :answer_text, "yes", required: "#{"required" if @answer.errors}" %>Yes
  <%= fff.radio_button :answer_text, "no", required: "#{"required" if @answer.errors}" %>No

</p>
