<p>
  <%= f.fields_for :submissions do |ff| %>

  <p>
  <% @survey.questions.each do |question| %>
    <strong>Question:</strong> <%= question.question_text %>
    <%= render 'answers/form', :ff => ff, :question => question%>
  <% end %>
  </p>
 <% end %>
</p>
