<h1>Editing Survey</h1>

<%= render 'form' %>

<%= link_to 'Show', @survey %> |
<%= link_to 'Back', surveys_path %>
<%= button_to "Delete", {:controller => :surveys,
  :action => 'destroy', :id => (params[:id]) }, :method => :delete %>

<script>
  var selectArr = $('.type-select').toArray();

  selectArr.forEach(function (item) {
    if ($(item).val() === 'Multiple Choice') {
      $(item).next().toggle();
    }
  })
</script>

<script type="text/html" class="filler" hidden>
  <div class="filler-actual"></div>
</script>
