<div class="heading-container">
  <span class="possum-logo small-logo">
    <%= image_tag 'possum-logo-khaki.jpg', width: '100' %>
  </span>
  <h1 class="heading-text shorter">SurveyPossum Form Builder</h1>

</div>

<h1 class="new-survey-heading block4">New Survey</h1>

<%= render 'form' %>

<script type="text/html" class="filler" hidden>
  <div class="filler-actual"></div>
</script>
