<div class="heading-container">
  <h1 class="heading-text">SurveyPossum Form Builder</h1>
</div>

<h1 class="new-survey-heading">New Survey</h1>

<%= render 'form' %>

<script type="text/html" class="filler" hidden>
  <div class="filler-actual"></div>
</script>
